[global_config]
  title_transmit_bg_color = "#62a0ea"
  title_use_system_font = False
  title_font = Monospace 16
[keybindings]
[profiles]
  [[default]]
    background_color = "#000001"
    background_darkness = 0.8
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Monospace 18
    foreground_color = "#daefff"
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#0000cd:#cd00cd:#00cdcd:#faebd7:#404040:#ff0000:#00ff00:#ffff00:#0000ff:#ff00ff:#00ffff:#ffffff"
    use_system_font = False
    bold_is_bright = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
